/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #002339;
    color: #fff;
}

/* Main Container */
.container {
    margin: 12% auto 0;
    width: 90%;
    max-width: 700px;
}

/* Heading */
.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

/* Display Section (for the password) */
.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 26px 20px;
    border-radius: 5px;
    gap: 10px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    flex: 1; 
}

.display img {
    width: 30px;
    cursor: pointer;
}

/* Button */
.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.container button img {
    width: 28px;
    margin-right: 10px;
}